<%- include("partials/header")  -%>

<nav class="navbar navbar-expand-md d-flex  mb-3 navbar-primary bg-light">
    <div class="container-fluid">
    <a class="navbar-brand px-3">Covid21India</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon text-center d-flex justify-content-center">
        <img src="/images/hamburger2.png" class="hamburger" >
      </span>
      
    </button>
   <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav ms-auto ">
      <li class="nav-item px-3 border border-primary"><a class="nav-link " href="/">Home</a></li>
      <li class="nav-item px-3"><a class="nav-link" href="/searchDonors">Search Donors</a></li>
      <li class="nav-item px-3"><a class="nav-link" href="/becomeDonor">Become Donor</a></li>
      <li class="nav-item px-3"><a class="nav-link" href="/aboutUs">About Us</a></li>
    </ul>
  </div>
</div>
</nav>
<!-- ///////////////////////////alert after form/////////////////////////// -->
 



<!-- /////////////////////section for courousel ///////////////////////////// -->
<section class="container mb-5" >
  <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="/images/slider2.png" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5></h5>
          <p></p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="/images/stayhome.png" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5></h5>
          <p></p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="/images/COVID21INDIA.png" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5></h5>
          <p></p>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</section>

<!-- /////////////////////////////////////section for card/////////////////////////// -->
<section  class="container mb-4">
  <h1 class="main-heading text-center border bg-light py-2 mb-3">Important Links</h1>
  
<div class="row ">
  <div class="col-lg-4 col-xxl-4 col col-md-12 col-sm-12 d-flex justify-content-center">
    <div class="card mb-3" style="width: 20rem;">
      <img src="/images/plasma.jfif" class="card-img-top img-fluid" alt="...">
      <div class="card-body">
        <h5 class="card-title">Become a Donor</h5>
        <p class="card-text">Add yourself to the Plasma donor list and help save someone's life and family Click on the button below
        </p>
        <a href="/becomeDonor" class="btn btn-primary">Click Here</a>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-xxl-4 col col-md-12 col-sm-12 d-flex justify-content-center">
    <div class="card mb-3" style="width: 20rem;">
      <img src="/images/PM-CARES.jpg" class="card-img-top img-fluid" alt="...">
      <div class="card-body">
        <h5 class="card-title">Donate to PMNRF</h5>
        <p class="card-text">Donate to Prime Minister's National Relief Fund. All contributions towards PMNRF are exempt from Income Tax</p>
        <a href="https://pmnrf.gov.in/en/" class="btn btn-primary" target='_blank'>Click Here</a>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-xxl-4 col col-md-12 col-sm-12 d-flex justify-content-center">
    <div class="card mb-3" style="width: 20rem;">
      <img src="/images/download.jfif" class="card-img-top img-fluid" alt="...">
      <div class="card-body">
        <h5 class="card-title">WHO guidelines</h5>
        <p class="card-text">A WHO guideline is  developed by WHO containing recommendations for clinical practice or public health policy.</p>
        <a href="https://www.who.int/maternal_child_adolescent/guidelines/about-guidelines/en/" target='_blank' class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
</div>
  
</section>
<!-- ////////////////////////////section for covid cases////////////////////////// -->
<section class="container text-center"> 
  <h1 class="main-heading text-center border bg-light py-2 mb-2">Covid Cases</h1>
  <h5 class="text-center mb-4">(Updated on <%= Date %>)</h5>
  <div class="row">
    <div class="col-lg-3 col-xxl-3 col-md-6 col-sm-12">
      <div class="border border-danger case-displayer text-center text-danger Confirmed">
        <h2 class="border-bottom border-danger">Confirmed</h2>
       <p class=" mx-auto"> <%=Confirmed %></p>
      </div>
    </div>
    <div class="col-lg-3 col-xxl-3 col-md-6 col-sm-12">
      <div class="border border-success case-displayer text-center text-success Recovered ">
        <h2 class="border-bottom border-success">Recovered</h2>
       <p class=" mx-auto"> <%=Recovered %></p>
      </div>
    </div>
    <div class="col-lg-3 col-xxl-3 col-md-6 col-sm-12 ">
      <div class="border border-primary case-displayer text-center text-primary Active">
        <h2 class="border-bottom border-primary">Active</h2>
       <p class='text-center  mx-auto'> <%=Active %></p>
      </div>
    </div>
    <div class="col-lg-3 col-xxl-3 col-md-6 col-sm-12 text-secondary">
      <div class="border border-secondary case-displayer text-center Death">
        <h2 class="border-bottom border-secondary">Deaths</h2>
       <p class="mx-auto"> <%=Deaths %> </p>
      </div>
    </div>

  </div>
  

</section>

<%- include("partials/footer")  -%>