<%- include('partials/header')  -%>

<nav class="navbar navbar-expand-md d-flex  mb-3 navbar-primary bg-light">
    <div class="container-fluid ">
    <a class="navbar-brand px-3 ">Covid21India</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon text-center d-flex justify-content-center">
        <img src="/images/hamburger2.png" class="hamburger" >
      </span>      
    </button>
   <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav ms-auto ">
      <li class="nav-item px-3"><a class="nav-link " href="/">Home</a></li>
        <li class="nav-item px-3"><a class="nav-link" href="/searchDonors">Search Donors</a></li>
        <li class="nav-item px-3"><a class="nav-link" href="/becomeDonor">Become Donor</a></li>
        <li class="nav-item px-3"><a class="nav-link" href="/aboutUs">About Us</a></li>
    </ul>
  </div>
</div>
</nav>

<section>
  <h1 class="text-center mb-3  bg-light">Find <span class="text-danger">Plasma Donors</span></h1>
  <div class="container-fluid px-3">
    <div class="row">
     
   <!-- info case-displayer -->
      <div class="col-lg-6 col-xxl-6 col-md-12 col-sm-12 d-flex justify-content-center my-2 ">
        <div class="table-responsive">
        <table class="table ">
          <thead class="border bg-info">
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Phone</th>
              <th scope="col">Group</th>
              <th scope="col">Period</th>
              <th scope="col">Age</th>
              <th scope="col">State</th>
            </tr>
          </thead>
          <tbody>
      <% donorList.forEach((element)=>{   %>
        <tr class="border bg-light">
          
          <td><%= element.Name %></td>
          <td><%= element.Phone %></td>
          <td><%= element.Group %></td>
          <td><%= element.Period %></td>
          <td><%= element.Age %></td>
       <%   states.forEach((e)=>{   %>
          <%  if(e.key === element.State){    %>
             <td> <%= e.name    %></td>
             <%  }  %>
             <%}) %>
            </tr>
      <% })     %>
    
            
            
          </tbody>
        </table>
      </div>
      </div>
      <div class="col-lg-3 col-xxl-3 col-md-12 col-sm-12 d-flex justify-content-center">
        <img src="/images/bloodHeart.png"  class="bloodHeart" >
      </div>
    </div>
  </div>
</section>




<%- include('partials/footer')  -%>